1. Create a function that takes a list and returns a new list containing only
prime numbers.
Examples

filter_primes([7, 9, 3, 9, 10, 11, 27]) ➞ [7, 3, 11]

filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70]) ➞ [10007, 1009]

filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093,
1097]) ➞ [1009, 3, 61, 1087, 1091, 1093, 1097]

In [28]:

def filter_primes(lis):
    result = []
    for i in lis:
        for j in range(2,i):
            if i%j == 0:
                break
        else:
            result.append(i)
    return result

In [29]:
filter_primes([7, 9, 3, 9, 10, 11, 27])

[7, 3, 11]

In [30]:
filter_primes([10007, 1009, 1007, 27, 147, 77, 1001, 70])

[10007, 1009]

In [31]:
filter_primes([1009, 10, 10, 10, 3, 33, 9, 4, 1, 61, 63, 69, 1087, 1091, 1093, 1097])

[1009, 3, 1, 61, 1087, 1091, 1093, 1097]

2. Once a water balloon pops, is soaks the area around it. The ground gets
drier the further away you travel from the balloon.
The effect of a water balloon popping can be modeled using a list. Create a
function that takes a list which takes the pre-pop state and returns the state
after the balloon is popped. The pre-pop state will contain at most a single
balloon, whose size is represented by the only non-zero element.
Examples

pop([0, 0, 0, 0, 4, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4, 3, 2, 1, 0]

pop([0, 0, 0, 3, 0, 0, 0]) ➞ [0, 1, 2, 3, 2, 1, 0]

pop([0, 0, 2, 0, 0]) ➞ [0, 1, 2, 1, 0]

pop([0]) ➞ [0]

In [51]:
def pop(lis=list):
    result = []
    mid_ele = len(lis)//2
    for j in range(mid_ele):
        result.append(j)
    for k in range(mid_ele,-1,-1):
        result.append(k)
    return result

In [50]:
pop([0, 0, 0, 0, 4, 0, 0, 0, 0])

[0, 1, 2, 3, 4, 3, 2, 1, 0]

In [52]:
pop([0, 0, 0, 3, 0, 0, 0])

[0, 1, 2, 3, 2, 1, 0]

In [53]:
pop([0, 0, 2, 0, 0])

[0, 1, 2, 1, 0]

In [54]:
pop([0])

[0]

3. &quot;Loves me, loves me not&quot; is a traditional game in which a person plucks off
all the petals of a flower one by one, saying the phrase &quot;Loves me&quot; and
&quot;Loves me not&quot; when determining whether the one that they love, loves them
back.

Given a number of petals, return a string which repeats the phrases &quot;Loves
me&quot; and &quot;Loves me not&quot; for every alternating petal, and return the last phrase
in all caps. Remember to put a comma and space between phrases.

Examples
loves_me(3) ➞ &quot;Loves me, Loves me not, LOVES ME&quot;

loves_me(6) ➞ &quot;Loves me, Loves me not, Loves me, Loves me not, Loves
me, LOVES ME NOT&quot;

loves_me(1) ➞ &quot;LOVES ME&quot;

In [67]:
def loves_me(number):
    string = ""
    for i in range(1,number+1):
        if i == number:
            if i%2==1:
                string+="Loves me".upper()
            else:
                string+="Loves me not".upper()
        else:
            if i%2 == 1:
                string+="Loves me, "
            else:
                string+="Loves me not, "
                
    return string

In [68]:
loves_me(3)

'Loves me, Loves me not, LOVES ME'

In [69]:
loves_me(6)

'Loves me, Loves me not, Loves me, Loves me not, Loves me, LOVES ME NOT'

In [70]:
loves_me(1)

'LOVES ME'

4. Write a function that sorts each string in a list by the letter in alphabetic
ascending order (a-z).
Examples

sort_by_letter([&quot;932c&quot;, &quot;832u32&quot;, &quot;2344b&quot;])
➞ [&quot;2344b&quot;, &quot;932c&quot;, &quot;832u32&quot;]

sort_by_letter([&quot;99a&quot;, &quot;78b&quot;, &quot;c2345&quot;, &quot;11d&quot;])
➞ [&quot;99a&quot;, &quot;78b&quot;, &quot;c2345&quot;, &quot;11d&quot;]

sort_by_letter([&quot;572z&quot;, &quot;5y5&quot;, &quot;304q2&quot;])
➞ [&quot;304q2&quot;, &quot;5y5&quot;, &quot;572z&quot;]

sort_by_letter([])➞ []

In [102]:
def sort_by_letter(lis) :
    res = []
    result = []
    for i in lis:
        for j in i:
            if j.isalpha():
                res.append(j)
    res.sort()
    for j in res:
        for i in lis:
            if j in i:
                result.append(i)
    return result

In [103]:
sort_by_letter(["932c", "832u32", "2344b"])

['2344b', '932c', '832u32']

In [104]:
sort_by_letter(["99a", "78b", "c2345", "11d"])

['99a', '78b', 'c2345', '11d']

In [105]:
sort_by_letter(["572z", "5y5", "304q2"])

['304q2', '5y5', '572z']

5. There are three cups on a table, at positions A, B, and C. At the start, there
is a ball hidden under the cup at position B.

However, I perform several swaps on the cups, which is notated as two
letters. 

For example, if I swap the cups at positions A and B, I could notate
this as AB or BA.

Create a function that returns the letter position that the ball is at, once I finish
swapping the cups. The swaps will be given to you as a list.

Example

cup_swapping([&quot;AB&quot;, &quot;CA&quot;, &quot;AB&quot;]) ➞ &quot;C&quot;
 
 Ball begins at position B.
 
 Cups A and B swap, so the ball is at position A.
 
 Cups C and A swap, so the ball is at position C.
 
 Cups A and B swap, but the ball is at position C, so it doesn&#39;t move.

In [107]:
def cup_swapping(lis=list):
    A = 0
    B = 1
    C = 0
    for i in lis:
        if i == "AB" or i == "BA":
            A, B = B, A
        elif i == "BC" or i == "CB":
            B, C = C, B
        else:
            A, C = C, B
    if  A == 1:
        return "A"
    elif B == 1:
        return "B"
    else :
        return "C"

In [108]:
cup_swapping(["AB", "CA", "AB"])

'C'