<b>1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).
Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.<b>
    
eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1.
    
For example:
&quot;15 // 0&quot; ➞ -1
Examples
    
    arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24
    arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0
    arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144
    arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

In [1]:
def arithmetic_operation(string):
    values = string.split()
    if values[1] == "+" :
        return int(values[0]) + int(values[2])
    elif values[1] == "-":
        return int(values[0]) - int(values[2])
    elif values[1] == "*":
        return int(values[0] * int(values[2]))
    elif values[2] == "0":
        return -1
    else:
        return int(values[0]) // int(values[2])

In [12]:
arithmetic_operation("12 - 12")

0

In [2]:
arithmetic_operation("12 // 0")

-1

<b>2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.<b>
    
    Examples
    perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
    perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
    perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [3]:

import math
def perimeter(array = list):
    distance = []
    distance.append(math.dist(array[0],array[1]))
    distance.append(math.dist(array[1],array[2]))
    distance.append(math.dist(array[2],array[0]))
    return round(sum(distance),2)

In [4]:

array = [[-10, -10], [10, 10 ], [-10, 10] ]
perimeter(array)

68.28

<b>3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).<b>
    
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.
Examples

    tallest_skyscraper([
    [0, 0, 0, 0],
    [0, 1, 0, 0],
    [0, 1, 1, 0],
    [1, 1, 1, 1]
    ]) ➞ 3
    tallest_skyscraper([
    [0, 1, 0, 0],
    [0, 1, 0, 0],
    [0, 1, 1, 0],
    [1, 1, 1, 1]
    ]) ➞ 4
    tallest_skyscraper([
    [0, 0, 0, 0],
    [0, 0, 0, 0],
    [1, 1, 1, 0],
    [1, 1, 1, 1]
    ]) ➞ 2

In [5]:
def tallest_skyscrapper(lis=list) :
    result = []
    for i in range(len(lis)):
        count = 0
        for j in range(len(lis[i])):
            count+=lis[j][i]
        result.append(count)
    return max(result)

In [6]:
tallest_skyscrapper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
])

2

<b>4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
    
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
    
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus

    0 to 32 days Zero
    33 to 40 days SGD$325 per billable day
    41 to 48 days SGD$550 per billable day
    Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.
Examples

    bonus(15) ➞ 0
    bonus(37) ➞ 1625
    bonus(50) ➞ 8200

In [7]:
def bonus(days):
    if days <=32 :
        return 0
    elif days > 32 and days <=40:
        res =  40 - days - 8
        return abs(res*325)
    elif days >= 41 and days< 48:
        resu= abs(48 -days - 8)
        return 8*325 + resu*550
    else:
        return 8*325 + 8*550 + (days - 48)*600

In [8]:
bonus(37)

1625

In [9]:
bonus(50)

8200

<b>5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.<b>
    
Create a function that determines whether a number is a Disarium or not.
Examples

    is_disarium(75) ➞ False
    # 7^1 + 5^2 = 7 + 25 = 32
    is_disarium(135) ➞ True
    # 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135
    is_disarium(544) ➞ False
    is_disarium(518) ➞ True

In [10]:
def is_disarium(number):
    num = str(number)
    res = 0
    for i in range(len(num)):
        res += int(num[i])**(i+1)
    if res == number:
        return True
    return False

In [11]:
is_disarium(135)

True