<b>Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.<b>

    Examples
    is_symmetrical(7227) ➞ True
    is_symmetrical(12567) ➞ False
    is_symmetrical(44444444) ➞ True
    is_symmetrical(9939) ➞ False
    is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(number):
    if str(number) == (str(number))[::-1]:
        return True
    return False

In [2]:
num = 1112111
is_symmetrical(num)

True

<b>Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.<b>
    
    Examples
    multiply_nums(&quot;2, 3&quot;) ➞ 6
    multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
    multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
    multiply_nums(&quot;10, -2&quot;) ➞ -20

In [3]:

def multiply_num(string=str):
    result = 1
    split = string.split(",")
    for i in split:
        result*=int(i)
    return result

In [4]:
string = "1,2,3,4"
multiply_num(string)

24

<b>Question 3
Create a function that squares every digit of a number.<b>
Examples
    
    square_digits(9119) ➞ 811181
    square_digits(2483) ➞ 416649
    square_digits(3212) ➞ 9414

In [5]:
def square_digits(number):
    result = ""
    for i in str(number):
        result+=str(int(i)**2)
    return int(result)

In [6]:
square_digits(3212)

9414

<b>Question 4
Create a function that sorts a list and removes all duplicate items from it.<b>

        Examples
    setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
    setify([4, 4, 4, 4]) ➞ [4]
    setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
    setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [7]:
def setify(lis):
    return list(set(sorted(lis)))

In [8]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

<b>Question 5
Create a function that returns the mean of all digits.<b>
  
    Examples
    mean(42) ➞ 3
    mean(12345) ➞ 3
    mean(666) ➞ 6

In [9]:
def mean(num):
    res = 0
    for i in str(num):
        res+=int(i)
    return res//len(str(num))

In [10]:
mean(666)

6