<h3>1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*, 'hello', -87.8, - , / ,+ ,6</h3>

 Ans:- <i><b>Values</b> : "hello"(string), -87.8(float) , 6(int)</i> 

<i><b>Expressions</b> : * (multiplication) , + (addition) , - (subtraction) , / (division).</i>

<h3>2. What is the difference between string and variable?</h3>

 Ans:- <i><b>String</b> :  It is a data type which is used to write a text.It is basically sequence of character and represent under the double qoute and single qoute. these qoute is situated at starting point and end point of sequence. 
    for eg..,</i> 
    
    a = "Bhavnesh"
    
   where Bhavnesh is a string.

<i><b>Variable</b> - It is like a container which store values of any data type.  
It is used to perform commands like mathematicals or any.
for eg..,
     
     a = 1234567.
    
    where a is a variable.

<h3>3. Describe three different data types.</h3>

Ans:- <ul><i>Three types of data types :</i></ul>  
<li><i><b>Integer</b> : Any numeric value is referred as integer which is used int() constructor to convert other data type into int data type.</i></li>
<li><i><b>Boolean</b> - It is a data type which gives us a output in term of True or False.</i></li> 
<li><i><b>Set</b> : It is data type which is used to remove the redudancy in data type.It is used set() constructor to convert other data type into set data type.</i></li>

<h3>4. What is an expression made up of? What do all expressions do?</h3>


Ans:- <i><b>Expressions</b> is an operators which is used to assign and evaluate values.
They are used to perform different types of mathematical actions like addition or subtraction.</i>

<h3>5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?</h3>

Ans:- <i>The difference between a statement and expression is when we are executing a expression it always returns a value and has potential to print result value while in a, statement it never return a value and cannot print result value</i> 

<i>As spam = 10 is a simple statement which won't return an any new output while executing.</i>

<h3>6. After running the following code, what does the variable bacon contain?</h3>

In [7]:
bacon = 22
bacon + 1

23

<i>where variable bacon now contain 23 as output.</i>

<h3>7. What should the values of the following two terms be?</h3>

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

<h3>8. Why is eggs a valid variable name while 100 is invalid?</h3>

Ans:- <i>The reason why eggs is a variable and 100 is not is because eggs is in a alphabetical order which is property of a variable and 100 is an integer which is a data type.</i>

<h3>9. What three functions can be used to get the integer, floating-point number, or string version of a value?</h3>

Ans:- <ol><i>The functions used are :</i></ol> 
<li><i>Integer : int()</i></li>

<li><i>Floating point number : float()</i></li>
<i><li>String : str()</i></li>

<h3>10. Why does this expression cause an error? How can you fix it?</h3>

<h4>'I have eaten ' + 99 + ' burritos'</h4>

Ans:-  <i>The reason why this code gives error is because 'I have eaten' and 'burritos' are strings and '99' is an integer.
And it can only concatenate string to string and not string to integer.</i>

<i>We can remove this error by converting 99 into string format by using str(99).</i>

In [1]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'