1. Given a list of numbers, create a function that removes 25% from every
number in the list except the smallest number, and adds the total amount
removed to the smallest number.
Examples

show_the_love([4, 1, 4]) ➞ [3, 3, 3]

show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]

show_the_love([2, 100]) ➞ [27, 75]

In [24]:
def show_the_love(lis=list):
    container = 0
    smallest_num_index = lis.index(min(lis))
    for num in range(len(lis)):
        if num != smallest_num_index:
            temp = 0
            temp += (lis[num]*25)/100
            container += temp
            lis[num] = lis[num] - temp
    lis[smallest_num_index] = lis[smallest_num_index] + container
    return lis

In [25]:
show_the_love([4,1,4])

[3.0, 3.0, 3.0]

In [26]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [27]:
show_the_love([2, 100])

[27.0, 75.0]

2. Create a function that takes in two words as input and returns a list of three
elements, in the following order:

   1.Shared letters between two words.
  
  2.Letters unique to word 1
  
  3.Letters unique to word 2.

Each element should have unique letters, and have each letter be
alphabetically sorted.

Examples
letters(&quot;sharp&quot;, &quot;soap&quot;) ➞ [&quot;aps&quot;, &quot;hr&quot;, &quot;o&quot;]

letters(&quot;board&quot;, &quot;bored&quot;) ➞ [&quot;bdor&quot;, &quot;a&quot;, &quot;e&quot;]

letters(&quot;happiness&quot;, &quot;envelope&quot;) ➞ [&quot;enp&quot;, &quot;ahis&quot;, &quot;lov&quot;]

letters(&quot;kerfuffle&quot;, &quot;fluffy&quot;) ➞ [&quot;flu&quot;, &quot;ekr&quot;, &quot;y&quot;]
---------- Even with multiple matching letters (e.g. 3 f&#39;s), there should  only exist a single &quot;f&quot; in your first element.

letters(&quot;match&quot;, &quot;ham&quot;) ➞ [&quot;ahm&quot;, &quot;ct&quot;, &quot;&quot;]
---------- &quot;ham&quot; does not contain any letters that are not found already in &quot;match&quot;.

In [45]:
def letters(string1=str,string2=str):
    shared_letters = ""
    unique_word_1 = ""
    unique_word_2 = ""
    
    for i in range(len(string1)):
        
        if string1[i] in string2:
            shared_letters+=string1[i]
            
        if string1[i] not in string2:
            unique_word_1 += string1[i]
            
    for j in range(len(string2)):
        
        if string2[j] not in string1:
            unique_word_2+=string2[j]
            
    return ["".join(sorted(set(shared_letters))),"".join(sorted(set(unique_word_1))),"".join(sorted(set(unique_word_2)))]

In [46]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [47]:
letters("board", "bored")

['bdor', 'a', 'e']

In [48]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [49]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [50]:
letters("match", "ham")

['ahm', 'ct', '']

3. Write a function that pairs the first number in an array with the last, the
second number with the second to last, etc.
Examples

pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]

pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]

pairs([]) ➞ []

In [64]:
def pairs(lis=list):
    result = []
    if len(lis)%2==1:
        for ele in range(1,(len(lis)//2)+2):
            result.append([lis[ele-1],lis[len(lis)-ele]])
    else:
        for ele in range(1,(len(lis)//2)+1):
            result.append([lis[ele-1],lis[len(lis)-ele]])
    return result

In [65]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [66]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [67]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

In [68]:
pairs([])

[]

4. Write a function that adds two numbers. The catch, however, is that the
numbers will be strings.
Examples

add_str_nums(&quot;4&quot;, &quot;5&quot;) ➞ &quot;9&quot;

add_str_nums(&quot;abcdefg&quot;, &quot;3&quot;) ➞ &quot;-1&quot;

add_str_nums(&quot;1&quot;, &quot;&quot;) ➞ &quot;1&quot;

add_str_nums(&quot;1874682736267235927359283579235789257&quot;,
&quot;32652983572985729&quot;) ➞ &quot;1874682736267235927391936562808774986&quot;

In [74]:
def add_str_nums(num1,num2):
    try:
        return str(int(num1) + int(num2))
    except:
        if len(num1) > 1 or len(num2) > 1 :
            return "-1"
        else:
            return "1"

In [75]:
add_str_nums("4", "5")

'9'

In [76]:
add_str_nums("abcdefg", "3")

'-1'

In [77]:
add_str_nums("1", "")

'1'

In [78]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say:
Please help me unmix these strings!

Somehow my strings have all become mixed up; every pair of characters has
been swapped. Help me undo this so I can understand my strings again.
Examples

unmix(&quot;123456&quot;) ➞ &quot;214365&quot;

unmix(&quot;badce&quot;) ➞ &quot;abcde&quot;

In [118]:
def unmix(string):
    result = ""
    string = string
    for i in range(0,len(string)-1,2):
        result += string[i+1] + string[i]
        if len(string)%2 != 0 and i == len(string)//2 :
            result += string[-1] 
    return result

In [119]:
unmix("123456")

'214365'

In [120]:
unmix("badce")

'abcde'