1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.
Examples

remove_letters([&quot;s&quot;, &quot;t&quot;, &quot;r&quot;, &quot;i&quot;, &quot;n&quot;, &quot;g&quot;, &quot;w&quot;], &quot;string&quot;) ➞ [&quot;w&quot;]

remove_letters([&quot;b&quot;, &quot;b&quot;, &quot;l&quot;, &quot;l&quot;, &quot;g&quot;, &quot;n&quot;, &quot;o&quot;, &quot;a&quot;, &quot;w&quot;], &quot;balloon&quot;) ➞ [&quot;b&quot;, &quot;g&quot;,
&quot;w&quot;]

remove_letters([&quot;d&quot;, &quot;b&quot;, &quot;t&quot;, &quot;e&quot;, &quot;a&quot;, &quot;i&quot;], &quot;edabit&quot;) ➞ []

In [23]:
def remove_letters(lis, string):
    for i in string:
        if i in lis:
            lis.remove(i)
    return lis

In [20]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [21]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [24]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

2. A block sequence in three dimensions. We can write a formula for this one:

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [58]:
def blocks(number):
    upper = sum([i for i in range(2,number+2)])
    lower = 3*number + (number-1)
    return upper + lower

In [59]:
blocks(5)

39

In [60]:
blocks(2)

12

In [61]:
blocks(1)

5

3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.
Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [72]:
from operator import sub
def my_sub(num1,num2):
    return sub(num1,num2) if num1 > num2 else sub(num2,num1)

In [73]:
my_sub(5, 9)

4

In [74]:
my_sub(10, 30)

20

In [75]:
my_sub(0, 0)

0

4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.

For the input string:

- Each amount is prefixed by the currency symbol: $ for dollars and £ for
pounds.

- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000
Examples

add_bill(&quot;d20,p40,p60,d50&quot;) ➞ 20 + 50 = 70

add_bill(&quot;p30,d20,p60,d150,p360&quot;) ➞ 20 + 150 = 170

add_bill(&quot;p30,d2k,p60,d200,p360&quot;) ➞ 2 * 1000 + 200 = 2200

In [84]:
def add_bill(string):
    result = 0
    splitted_bill = string.split(',')
    for i in splitted_bill:
        if "d" in i:
            try:
                result+=int(i[1:])
            except:
                result+=int(i[1:-1:])*1000
    return result

In [85]:
add_bill("d20,p40,p60,d50")

70

In [86]:
add_bill("p30,d20,p60,d150,p360")

170

In [87]:
add_bill("p30,d2k,p60,d200,p360")

2200

5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.
Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [94]:
def flip_list(lis=list):
    if len(lis)>0:
        result = []
        for i in lis:
            if isinstance(i,list):
                result.append(i[0])
            else:
                result.append([i])
        return result
        
    else:
        return []

In [95]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [96]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [97]:
flip_list([])

[]